{{#if posts.length}}
<section>
  <h3>Your Posts</h3>
  
    {{#each posts as |post|}}
    
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    
    {{/each}}
  
</section>
{{/if}}

<div>
  <a href="/dashboard/add"><button type="button" class="button newpost-btn">New Post</button></a>
</div>

